<a href="https://colab.research.google.com/github/chavakulakedar-lang/2025-2026-EVEN--AI-DS-KEDAR_4081-/blob/main/03_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:

t = (1, 2, 3)
print(t[0])

1

In [11]:

numbers = {1, 2, 3, 4, 4, 5}
print(numbers)  # Duplicates removed automatically

# Adding elements
numbers.add(6)
print(numbers)

# Removing elements
numbers.remove(3)
print(numbers)

# Checking membership
print(2 in numbers)   # True

# Looping through a set
for num in numbers:
    print(num)

# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))        # {1,2,3,4,5}
print(set1.intersection(set2)) # {3}
print(set1.difference(set2))   # {1,2}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
True
1
2
4
5
6
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [12]:
x=10
print(type(x))
y=3.14
print(type(y))
z="hello"
print(type(z))
a=3+10j
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [13]:
a = {1, 2, 3, 4}
b = {3, 4, 5}

# Add an element
a.add(6)

# Remove an element
b.remove(5)

# Common elements
common = a & b

print("Set A:", a)
print("Set B:", b)
print("Common elements:", common)

Set A: {1, 2, 3, 4, 6}
Set B: {3, 4}
Common elements: {3, 4}

In [15]:
import pandas as pd

url = "https://raw.githubusercontent.com/dataprofessor/data/master/BostonHousing.csv"

df = pd.read_csv(url)

print(df.head())

df.to_csv("BostonHousing.csv", index=False)

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2